<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9]>     <html class="ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]>  <html class="ie" lang="en"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  {% assign maxmeta = 155 %}
  {% if template contains 'product' %}
    <meta name="description" content="{{ product.description | strip_html | strip_newlines | truncate: maxmeta | escape }}" />
  {% elsif template contains 'page'%}
    {% if page_description %}
      <meta name="description" content="{{ page_description }}" />
    {% else %}
      <meta name="description" content="{{ page.content | strip_html | strip_newlines | truncate: maxmeta | escape }}" />
    {% endif %}
  {% else %}
    <meta name="description" content="{{ shop.description }}" />
  {% endif %}

  {% include 'social-meta' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  {{ '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js' | script_tag }}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' | script_tag }}{% if template contains 'customers' %}{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}{% endif %}
  {{ '//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js' | script_tag }}

  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {% if page_title %}
    <title>{{ page_title }} | {{ shop.name }}</title>
  {% elsif template == '404' %}
    <title>Page Not Found | {{ shop.name }}</title>
  {% else %}
    <title>{{ shop.name }}</title>
  {% endif %}

  {{ content_for_header }}
</head>
<body class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '/', '-' | split: '.' }}">

  <div class="container" id="SiteContainer">
      <!-- CONTENT -->
      <div class="main-content">
        {{ content_for_layout }}
      </div>
  </div>
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lt IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->
</body>
</html>
