<!-- /sections/product.liquid -->

<div id="template-product" data-section-id="{{ section.id }}" data-section-type="product" data-product-handle="{{ product.handle }}" data-enable-history-state="true" data-sticky-enabled="{{ section.settings.product_sticky_enable }}" data-tall-layout="{% if section.settings.image_layout == "stacked" %}true{% else %}false{% endif %}" data-reviews="{{ settings.enable_product_reviews }}" data-cart-bar="{{ section.settings.show_cart_bar }}" data-cart-bar-position="{{ section.settings.cart_bar_position }}">
  {%- include 'custom-product' -%}
</div>

{%- if section.settings.show_cart_bar -%}
  {%- include 'cart-bar' -%}
{%- endif -%}

{%- if section.settings.show_recently_viewed -%}
  {%- include 'products-recently-viewed' -%}
{%- endif -%}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "select",
        "id": "image_layout",
        "label": "Image display",
        "default": "stacked",
        "options": [
          { "value": "thumbnails", "label": "Thumbnails" },
          { "value": "stacked", "label": "Stacked" }
        ]
      },
      {
        "type": "checkbox",
        "id": "product_sticky_enable",
        "label": "Enable sticky description",
        "info": "Works best with shorter descriptions.",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_breadcrumbs",
        "label": "Show breadcrumbs",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "product_show_vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_payment_button",
        "label": "Show smart checkout button",
        "info": "Customers will see their preferred accelerated checkout method.",
        "default": true
      },
      {
        "type": "header",
        "content": "Cart bar"
      },
      {
        "type": "checkbox",
        "id": "show_cart_bar",
        "label": "Show Cart bar",
        "default": true,
        "info": "Visible on larger than 1280px screens only"
      },
      {
        "type": "select",
        "id": "cart_bar_position",
        "label": "Position",
        "default": "bottom",
        "options": [
          { "value": "top", "label": "Top" },
          { "value": "bottom", "label": "Bottom" }
        ]
      },
      {
        "type": "header",
        "content": "Product info tabs"
      },
      {
        "type": "checkbox",
        "id": "tabs_enable",
        "label": "Enable tabs",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "tab_description",
        "name": "Description H6",
        "limit": 1,
        "settings": [
          {
            "type": "paragraph",
            "content": "Heading 6 titles will be converted to tab headings, tab content will be everything between the Heading 6 titles. [Product Tabs Documentation](https://help.invisiblethemes.com/article/11-tabs)."
          }
        ]
      },
      {
        "type": "tab_richtext",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Label",
            "default": "Text tab",
            "info": "Example: Warranty policy"
          },
          {
            "type": "richtext",
            "id": "raw_content",
            "label": "Tab content",
            "default": "<p>This tab content type will accept <strong>rich text</strong> to help with adding styles and links to additional pages or content. Use this to add supplementary information to help your buyers.</p>"
          }
        ]
      },
      {
        "type": "tab_html",
        "name": "HTML",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Label",
            "default": "HTML tab",
            "info": "Example: Sizing video"
          },
          {
            "type": "html",
            "id": "raw_content",
            "label": "Tab content",
            "default": "<p>This tab content type will accept HTML code for advanced styling. Use this to add video embeds, or other advanced HTML content.</p>"
          }
        ]
      },
      {
        "type": "tab_page",
        "name": "Page",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Label",
            "default": "Page tab",
            "info": "Example: Size chart"
          },
          {
            "type": "page",
            "id": "raw_content",
            "label": "Tab content"
          }
        ]
      }
    ]
  }


  {% endschema %}
