{% layout 'password' %}

  <style>
  .password__logo { width:{{ section.settings.logo_max_width | append:'px' }} };
  </style>
  <body class="template-password">
    <div class="password-page__wrapper" data-section-type="password-template" data-section-id="{{ section.id }}">
      {% if section.settings.background_image %}
        <div class="password-page__background lazyload"
          data-bgset="{% include 'bgset', image: section.settings.background_image %}"
          data-sizes="auto"
          data-parent-fit="cover">
        </div>
        <noscript>
          <div class="password-page__background no-js-image"
          style="background-image:url('{{ section.settings.background_image | img_url: '1024x' }}'); background-size: cover; background-position: center center; background-repeat: no-repeat;">
          </div>
        </noscript>
      {% else %}
        {% assign background_image = 'password-page-background.jpg' | asset_url %}
        <div class="password-page__background lazyload"
          data-bgset="{% include 'bgset', image: background_image %}"
          data-sizes="auto"
          data-parent-fit="cover">
        </div>
        <noscript>
          <div class="password-page__background no-js-image"
          style="background-image:url('{{ 'password-page-background.jpg' | asset_url }}'); background-size: cover; background-position: center center; background-repeat: no-repeat;">
          </div>
        </noscript>
      {% endif %}

      <div class="password-page__signup-form">
      	<div class="wrapper">
	        <div class="toggle-wrapper">
	          <small>
		          <a href="#" id="AdminLoginToggle" class="inline-list"> {{ 'password.buttons.store_login' | t }}</a> |
		          <a href="#" id="NewsletterToggle" class="inline-list">{{ 'password.buttons.newsletter_signup' | t }}</a>
	          </small>
	        </div>
	        <div class="password__contents">
            {% if section.settings.logo %}
              {% assign image = section.settings.logo %}
              {% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
              <img class="password__logo lazyload"
                src="{{ image | img_url: '320x' }}"
                data-src="{{ img_url }}"
                data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                data-aspectratio="{{ image.aspect_ratio }}"
                data-sizes="auto"
                data-parent-fit="contain"
                alt="{{ article.title | escape}}">
	          {% else %}
	          	<h1 class="password__logo--text">{{ shop.name }}</h1>
	          {% endif %}

	          <h3>{{ 'password.page.title' | t  }}</h3>

	          {% unless shop.password_message == blank %}
	            <p>{{ shop.password_message }}</p>
	          {% endunless %}

            {% if section.settings.richtext != '<p></p>' and section.settings.richtext != '' %}
              <div class="rte">
                {{ section.settings.richtext }}
              </div>
            {% endif %}

	          {% form 'customer' %}
	            {{ form.errors | default_errors }}
	            {% if form.posted_successfully? %}
	              <p>{{ 'password.form.success' | t }}</p>
	            {% else %}
	              <div id ="CustomerSignup">
                  <input type="hidden" name="contact[tags]" value="prospect, password page">
	                <input class="signup-input inline-list" type="email" name="contact[email]" id="email" placeholder="{{ 'password.form.placeholder' | t }}">
	                <input type="submit" class="button customer-signup-button" value="{{ 'password.buttons.sign_up' | t }}">
	              </div>
	            {% endif %}
	          {% endform %}

	          {% form 'storefront_password' %}
	            {{ form.errors | default_errors }}
	            {% if form.posted_successfully? %}
	            {% else %}
	              <div id="AdminLogin" style="display:none">
	                <p>{{ 'password.buttons.store_login' | t }}</p>
	                <input class="inline-list password-input" type='password' name='password' id='password' placeholder="{{ 'password.form.login' | t }}">
	                <input type="submit" class="button password-login-button" value="{{ 'password.buttons.login' | t }}" >
	              </div>
	            {% endif %}
	          {% endform %}
          <div>
          <!-- Social Icons -->
          {% if section.settings.show_social %}
            <div class="product__sharing password__social-sharing">
              {% include 'social-sharing' %}
            </div>
          {% endif %}
          <small>{{ 'password.page.powered_by' | t }} <a href="https://www.shopify.com/" target="_blank" rel="nofollow">Shopify</a></small>
        </div>
      </div>
    </div>
  </div>

  <script>
  	// If form submitted and has errors, show related form
  	jQuery(function($) {
      $('#AdminLoginToggle').on( 'click touchstart', function(e) {
        e.preventDefault();
        $('#AdminLogin').show();$('#CustomerSignup').hide();$('.errors').hide();
      });

      $('#NewsletterToggle').on( 'click touchstart', function(e) {
        e.preventDefault();
        $('#AdminLogin').hide();$('#CustomerSignup').show();$('.errors').hide();
      });

  		if ( $('#contact_form .errors').length ) {
  			$('#AdminLogin').hide();$('#CustomerSignup').show();
  		}

  		if ( $('#login_form .errors').length ) {
  			$('#AdminLogin').show();$('#CustomerSignup').hide();
  		}
  	});
  </script>

{% schema %}
{
  "name": "Password page",
  "class": "password",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": "Logo width (in pixels)",
      "min":50,
      "max":400,
      "default": 200,
      "step":10,
      "unit":"px"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image",
      "info": "2048px width recommended"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "label": "Show social icons",
      "default": true
    },
    {
      "id": "richtext",
      "type": "richtext",
      "label": "Newsletter description",
      "default": "<p></p>"
    }
  ]
}
{% endschema %}
